@model Group_Quiz.Models.Question
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<div class="container mt-5">
    <h1 class="mb-4">Edit Question</h1>
    <form id="#">
        <div class="form-group">
            <label for="questionText">Question Text</label>
            <input type="text" class="form-control" id="#" required>
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-default btn-primary mr-2">Save Changes</button>
            <a href="@Url.Action("Dashboard")" class="btn btn-cancel btn-secondary">Cancel</a>
        </div>
    </form>
</div>
